/* 
    Created on : 28-Apr-2016, 13:20:16
    Author     : Stefan
*/

.testimonial-wrapper {
    width: 100%;
    max-width: 800px;
    position: relative;
    display: inline-block;
}

.testimonial {
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: auto;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.2s ease-in-out;
}

.testimonial.active {
    opacity: 1;
    z-index: 1;
}

.testimonial .quote {
    text-align: center;
    display: block;
    font-size: 1.5em;
}

.testimonial-wrapper .info {
    background: white;
    position: absolute;
    top: 90px;
    right: 0;
    width: 250px;
}

.testimonial-wrapper .info span {
    display: inline-block;
}

.testimonial-wrapper .info span.inf-wrap {
    vertical-align: middle;
}

.testimonial-wrapper .info span span {
    display: block;
}

.testimonial-wrapper .image{
    width: 60px;
    height: 60px;
    background-size: cover;
    background-position: center center;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.testimonial-wrapper .navigation {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.testimonial-wrapper .navigation .nav-sphere {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 2px;
}

.testimonial-wrapper .navigation .nav-sphere.active {
    background: #1fb25a;
}